<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=AMIT-DEV2\SQL2017;Initial Catalog=Hyundai;User ID=sa;Password=pctadmin$123;" />
  </connectionStrings>
  <appSettings>
    <add key="EnableLogs" value="true" />     
    <!-- Wait time in seconds -->
    <add key="TimeDelayAlarmsDataHundaiWiaThread" value="2" />   
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
</configuration>